# Ignore all large and temporary folders
data/
log/
tmp_backup/
assignments/tmp_backup/

# Ignore large file types
*.fastq.gz
*.fna
*.fasta
*.fa
*.gff
*.gz
*.tar
*.zip
*.bam
*.sam
*.json
*.html

# Keep scripts, code, and READMEs
!*.sh
!*.md
# Keep logs, ignore FASTA for assignment_6 assemblies
/assignments/assignment_6/assemblies/**/*.fasta
/assignments/assignment_6/assemblies/**/*.fa
/assignments/assignment_6/assemblies/**/*.fna
/assignments/assignment_6/assemblies/**/*.fai
!/assignments/assignment_6/assemblies/**/*.log
# Keep logs, ignore FASTA for assignment_6 assemblies
/assignments/assignment_6/assemblies/**/*.fasta
/assignments/assignment_6/assemblies/**/*.fa
/assignments/assignment_6/assemblies/**/*.fna
/assignments/assignment_6/assemblies/**/*.fai
!/assignments/assignment_6/assemblies/**/*.log
