# Ignore all large and temporary folders
data/
log/
tmp_backup/
assignments/tmp_backup/

# Ignore large file types
*.fastq.gz
*.fna
*.fasta
*.fa
*.gff
*.gz
*.tar
*.zip
*.bam
*.sam
*.json
*.html

# Keep scripts, code, and READMEs
!*.sh
!*.md
