# large / generated
assemblies/
data/
envs/
*.fastq
*.fastq.gz
*.fasta
*.fa
*.bam
*.sam
# local builds
programs/
# --- assemblies policy: keep logs, ignore FASTA ---
assemblies/**/*.fasta
assemblies/**/*.fa
assemblies/**/*.fna
assemblies/**/*.fai
!assemblies/**/*.log
# -----------------------------------------------
